* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*-----------Variables-----------*/
/*-----------Variables-----------*/
/*---------Customs---------*/
html,
body {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: 100%;
  font-size: 16px;
  line-height: 25px; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  color: #000;
  background: #fff;
  font-family: "Arial", sans-serif; }

.header,
.footer {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none; }

.container {
  min-width: 1000px; }

main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  width: 100%; }

.left {
  float: left; }

.right {
  float: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.clear {
  clear: both; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

img {
  max-width: 100%;
  height: auto;
  outline: none; }
  img:focus {
    outline: none; }

a {
  color: #000;
  outline: none;
  text-decoration: none; }
  a:focus, a:active, a:hover {
    color: #000;
    outline: none;
    text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  color: #000;
  margin: 0;
  font-family: "Arial", sans-serif; }

.fixed {
  width: 100%;
  position: fixed !important;
  top: 0;
  z-index: 9; }

.flex-video {
  height: 0;
  margin-bottom: 0.88889rem;
  overflow: hidden;
  padding-bottom: 67.5%;
  padding-top: 1.38889rem;
  position: relative; }
  .flex-video iframe, .flex-video object, .flex-video embed, .flex-video video {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }

.table-container {
  overflow-y: auto;
  width: 100%; }

ul {
  list-style: none; }

figure {
  margin: 0; }

.section {
  margin: 20px 0 0; }

.section-title {
  padding: 0 0 20px;
  font-size: 1.5625rem;
  line-height: 1;
  text-align: center; }

.map iframe {
  display: block;
  width: 100%;
  max-width: 100%; }

.small-close {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  background: none;
  box-shadow: none;
  border: none;
  outline: none; }
  .small-close:before, .small-close:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    height: 1px;
    background: red; }
  .small-close:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .small-close:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }

/*---------Customs---------*/
/*---------Breadcrumbs---------*/
.breadcrumbs {
  margin: 20px 0 0; }

.breadcrumbs-list {
  list-style-type: none; }

.breadcrumbs-child {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px; }
  .breadcrumbs-child:last-child {
    margin-right: 0; }

.breadcrumbs-link.active {
  color: red;
  cursor: default;
  text-decoration: none; }

/*---------Breadcrumbs---------*/
/*---------Pagination---------*/
.pagination {
  padding: 10px 0;
  text-align: center; }
  .pagination ul {
    list-style-type: none; }
  .pagination li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px; }
    .pagination li:last-child {
      margin-right: 0; }
    .pagination li.disabled {
      opacity: 0.5; }
    .pagination li.active {
      color: red; }

/*---------Pagination---------*/
/*---------Forms---------*/
.form-row {
  padding: 5px 0; }

.form-checkbox {
  padding: 5px 0; }
  .form-checkbox input[type="checkbox"] {
    display: none; }
    .form-checkbox input[type="checkbox"]:checked + label:after {
      opacity: 1; }
  .form-checkbox label {
    position: relative;
    padding-left: 20px;
    min-height: 10px; }
    .form-checkbox label:before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 10px;
      height: 10px;
      border: 1px solid #dedede; }
    .form-checkbox label:after {
      position: absolute;
      top: 3px;
      left: 3px;
      content: '';
      width: 6px;
      height: 6px;
      opacity: 0;
      background: red; }

.form-radio {
  padding: 5px 0; }
  .form-radio input[type="radio"] {
    display: none; }
    .form-radio input[type="radio"]:checked + label:after {
      opacity: 1; }
  .form-radio label {
    position: relative;
    padding-left: 20px;
    min-height: 10px; }
    .form-radio label:before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 1px solid #dedede; }
    .form-radio label:after {
      position: absolute;
      top: 3px;
      left: 3px;
      content: '';
      width: 6px;
      height: 6px;
      opacity: 0;
      border-radius: 50%;
      background: red; }

input, select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #dedede;
  outline: none;
  font-size: 1rem;
  line-height: 1; }
  input.invalid, input .error, select.invalid, select .error, textarea.invalid, textarea .error {
    border-color: red; }
  input[disabled], input[disabled="disabled"], select[disabled], select[disabled="disabled"], textarea[disabled], textarea[disabled="disabled"] {
    opacity: 0.5; }

button {
  cursor: pointer;
  cursor: pointer; }
  button[disabled], button[disabled="disabled"] {
    opacity: 0.5; }

textarea {
  resize: none;
  min-height: 70px; }

select {
  outline: 0;
  border-radius: 0;
  border: 1px solid #dedede;
  padding: 5px 15px 5px 5px;
  font-size: 16px;
  line-height: 1;
  box-sizing: border-box;
  -webkit-padding-end: 25px;
  -webkit-padding-start: 5px;
  -moz-padding-end: 25px;
  -moz-padding-start: 5px;
  padding-end: 25px;
  padding-start: 5px;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  text-indent: 0;
  color: #000;
  background: url("../images/arrow.svg") 100% 50% no-repeat;
  background-size: 12px; }

select::-ms-expand {
  display: none; }

::-webkit-input-placeholder {
  color: #ccc;
  text-overflow: ellipsis; }

::-moz-placeholder {
  color: #ccc;
  text-overflow: ellipsis;
  opacity: 1; }

::-ms-input-placeholder {
  color: #ccc;
  text-overflow: ellipsis; }

.tranaparent-button {
  background: none;
  box-shadow: none;
  border: none;
  font-size: 0.875rem;
  line-height: 1; }

.button {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  background: none;
  border: 1px solid #dedede;
  box-shadow: none;
  border-radius: 0; }

.submit-button {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  background: #eee;
  border: 1px solid #dedede;
  box-shadow: none;
  border-radius: 0; }

/*---------Forms---------*/
/*-----------Article-----------*/
.article table {
  margin-top: 20px; }
  .article table th, .article table td {
    padding: 5px; }
.article h1, .article h2, .article h3, .article h4, .article h5, .article h6, .article p, .article img {
  padding-bottom: 15px; }

/*-----------Article-----------*/
/*-----------Header-----------*/
.header-top {
  padding: 10px 0;
  background: #d7d7d7; }

.header-top-menu-list
.header-bottom-menu-list,
.header-login ul,
.header-lang ul {
  list-style-type: none; }

.header-top-menu-child,
.header-bottom-menu-child,
.header-login ul li,
.header-lang ul li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px; }
  .header-top-menu-child:last-child,
  .header-bottom-menu-child:last-child,
  .header-login ul li:last-child,
  .header-lang ul li:last-child {
    margin-right: 0; }

.header-lang a.active {
  color: red; }

.header-bottom {
  padding: 10px;
  background: #eeeeee; }

.header-callback .dropdown {
  display: inline-block; }
.header-callback .dropdown-button {
  background: none;
  box-shadow: none;
  border: none; }
.header-callback .dropdown-menu {
  left: auto;
  right: 0;
  width: 200px; }

/*-----------Header-----------*/
/*-----------Search-----------*/
.header-search {
  position: relative; }
  .header-search input[type="text"] {
    padding-right: 30px; }
  .header-search button {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -7px;
    z-index: 1; }

.live-search {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1; }

.live-search-container {
  padding: 5px;
  border: 1px solid #dedede;
  background: #fff; }

.search-item {
  position: relative;
  padding: 5px 0; }
  .search-item .row-inline {
    margin: 0 -5px; }
  .search-item [class^="col-inline-"] {
    padding: 0 5px; }
  .search-item:hover, .search-item.selected {
    outline: 1px solid red; }

/*-----------Search-----------*/
/*-----------Main-----------*/
#main-slider {
  max-height: 290px;
  overflow: hidden; }

.main-slider-item {
  position: relative; }
  .main-slider-item article {
    position: absolute;
    top: 35%;
    left: 30px; }

.social {
  padding: 10px 0 0; }

.social-list {
  list-style: none; }

.social-child {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px; }
  .social-child:last-child {
    margin-right: 0; }

.old-price {
  text-decoration: line-through; }

.product-item {
  padding: 0 5px; }

.carousel {
  padding: 0 0 30px; }
  .carousel .slick-dots {
    bottom: 0; }

.seo {
  padding: 10px 0;
  background: #eeeeee; }

.list-item {
  padding: 5px 0; }

/*-----------Main-----------*/
/*-----------Catalog-----------*/
.catalog-blocks {
  padding: 10px 0 0; }
  .catalog-blocks .col-xs-4 {
    padding-top: 10px;
    padding-bottom: 10px; }

.catalog-sort {
  padding: 20px 0 10px; }
  .catalog-sort .form-row {
    display: inline-block;
    vertical-align: middle; }
  .catalog-sort label, .catalog-sort select {
    display: inline-block;
    vertical-align: middle; }
  .catalog-sort select {
    width: auto; }

.catalog-filter-headline {
  font-size: 1.5625rem; }

.catalog-filter-current {
  padding: 20px 0 0; }

.filter-current-row {
  padding: 5px 0; }
  .filter-current-row .small-close {
    display: inline-block;
    vertical-align: middle; }

.filter-current-value {
  display: inline-block;
  vertical-align: middle; }

.catalog-filter-all {
  padding: 20px 0 0; }

.catalog-filter-section {
  padding: 10px 0; }

/*-----------Catalog-----------*/
.product-page {
  padding: 0 0 40px; }

/*-----------Product gallery-----------*/
#product-gallery-additional {
  padding: 0 0 30px; }
  #product-gallery-additional .slick-dots {
    bottom: 0; }

.product-gallery-small {
  border: 1px solid transparent;
  text-align: center;
  font-size: 0;
  line-height: 1; }
  .product-gallery-small.active {
    border-color: red; }
  .product-gallery-small img {
    display: inline-block; }

/*-----------Product gallery-----------*/
/*-----------Product review-----------*/
.product-review-title {
  font-size: 1.5rem;
  font-weight: 700; }

.product-review-item {
  position: relative;
  margin: 20px 0;
  padding: 0 0 0 50px;
  min-height: 40px; }
  .product-review-item figure {
    position: absolute;
    top: 0;
    left: 0; }

/*-----------Product review-----------*/
/*-----------Page-----------*/
.page-section header time {
  display: block;
  padding: 0 0 5px; }
.page-section article {
  padding: 20px 0 0; }

/*-----------Page-----------*/
/*-----------Basket-----------*/
.basket-item {
  position: relative; }
  .basket-item .small-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1; }

.basket-item-body .price,
.basket-item-body .counter,
.basket-item-body .total-price {
  display: inline-block;
  vertical-align: middle; }

/*-----------Basket-----------*/
/*-----------Search result-----------*/
.search-filter ul {
  list-style-type: none; }
.search-filter li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px; }
  .search-filter li:last-child {
    margin-right: 0; }
.search-filter a.active {
  color: red; }

/*-----------Search result-----------*/
/*-----------Profile-----------*/
.profile-menu-link.active {
  color: red; }

/*-----------Profile-----------*/
/*-----------Compare page-----------*/
.compare-header,
.compare-body,
.compare-footer {
  padding: 10px 0; }

.compare-table {
  text-align: center; }
  .compare-table th {
    vertical-align: middle;
    min-width: 280px; }
  .compare-table td {
    vertical-align: middle;
    padding: 10px 0; }

.compare-item {
  position: relative;
  padding: 0 0 0 70px;
  min-width: 280px;
  min-height: 40px;
  text-align: left; }

.compare-item-image {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -30px; }
  .compare-item-image img {
    width: auto;
    height: auto;
    max-width: 60px;
    max-height: 60px; }

/*-----------Compare page-----------*/
/*-----------Footer-----------*/
.footer .seo {
  margin: 0; }

.footer-content {
  margin: 0;
  padding: 10px 0;
  background: #d7d7d7; }

.footer-menu-list {
  list-style-type: none; }

.footer-menu-child {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px; }
  .footer-menu-child:last-child {
    margin-right: 0; }

.compare-fixed-label {
  position: fixed;
  padding: 5px 20px;
  bottom: 0;
  right: 0;
  color: #fff;
  background: black;
  z-index: 1; }

.compare-fixed-label a {
  color: #fff;
  text-decoration: none; }

/*-----------Footer-----------*/
/*-----------Media-----------*/
/*-----------Media-----------*/
