* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

/*-----------Variables-----------*/
$font-family: 'Arial', sans-serif;
$primary-color: #000;
$primary-background: #fff;
$link-color: #000;
$active-color: red;
$headline-color: #000;
$border-color: #dedede;
$image-src: '../images';
/*-----------Variables-----------*/

@mixin transition($property) {
  -webkit-transition: $property .3s ease 0s;
  transition: $property .3s ease 0s;
}
@mixin sprite($name, $x, $y) {
  background: url('#{$image-src}/#{$name}');
  background-repeat: no-repeat;
  background-position: $x $y;
}
@mixin font-normal {
  font-weight: 400;
}
@mixin font-bold {
  font-weight: 700;
}

/*---------Customs---------*/
html,
body {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 100%;
    font-size: 16px;
    line-height: 25px;
}
body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    color: $primary-color;
    background:$primary-background;
    font-family: $font-family;
}
.header,
.footer {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}
.container {
    min-width: 1000px;
}
main {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    width: 100%;
}
.left {
  float: left;
}
.right {
  float: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.clear {
  clear: both;
}
.clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}
img {
  max-width: 100%;
  height: auto;
  outline:none;
  &:focus {
    outline:none;
  }
}
a {
  color: $link-color;
  outline:none;
  text-decoration: none;
  &:focus, &:active, &:hover {
    color: $link-color;
    outline:none;
    text-decoration: underline;
  }
}
h1,h2,h3,h4,h5,h6 {
  color: $headline-color;
  margin: 0;
  font-family: $font-family;
}
.fixed {
  width: 100%;
  position: fixed!important;
  top: 0;
  z-index: 9;
}
.flex-video {
  height: 0;
  margin-bottom: 0.88889rem;
  overflow: hidden;
  padding-bottom: 67.5%;
  padding-top: 1.38889rem;
  position: relative;
  iframe, object, embed, video {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
.table-container {
  overflow-y: auto;
  width: 100%;
}
ul {
  list-style: none;
}
figure {
    margin: 0;
}
.section {
    margin: 20px 0 0;
}
.section-title {
    padding: 0 0 20px;
    font-size: 1.5625rem;
    line-height: 1;
    text-align: center;
}
.map {
    iframe {
        display: block;
        width: 100%;
        max-width: 100%;
    }
}
.small-close {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    background: none;
    box-shadow: none;
    border: none;
    outline: none;
    &:before, &:after {
        content: '';
        position: absolute;
        top: 5px;
        left: 0;
        width: 100%;
        height: 1px;
        background: $active-color;
    }
    &:before {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    &:after {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}
/*---------Customs---------*/

/*---------Breadcrumbs---------*/
.breadcrumbs {
    margin: 20px 0 0;
}
.breadcrumbs-list {
    list-style-type: none;
}
.breadcrumbs-child {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
    &:last-child {
        margin-right: 0;
    }
}
.breadcrumbs-link {
    &.active {
        color: $active-color;
        cursor: default;
        text-decoration: none;
    }
}
/*---------Breadcrumbs---------*/

/*---------Pagination---------*/
.pagination {
    padding: 10px 0;
    text-align: center;
    ul {
        list-style-type: none;
    }
    li {
        display: inline-block;
        vertical-align: middle;
        margin-right: 6px;
        &:last-child {
            margin-right: 0;
        }
        &.disabled {
            opacity: 0.5;
        }
        &.active {
            color: $active-color;
        }
    }
}
/*---------Pagination---------*/

/*---------Forms---------*/
.form-row {
    padding: 5px 0;
}
.form-checkbox {
    padding: 5px 0;
    input[type="checkbox"] {
        display: none;
        &:checked + label {
            &:after {
                opacity: 1;
            }
        }
    }
    label {
        position: relative;
        padding-left: 20px;
        min-height: 10px;
        &:before {
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            width: 10px;
            height: 10px;
            border: 1px solid $border-color;
        }
        &:after {
            position: absolute;
            top: 3px;
            left: 3px;
            content: '';
            width: 6px;
            height: 6px;
            opacity: 0;
            background: $active-color;
        }
    }
}
.form-radio {
    padding: 5px 0;
    input[type="radio"] {
        display: none;
        &:checked + label {
            &:after {
                opacity: 1;
            }
        }
    }
    label {
        position: relative;
        padding-left: 20px;
        min-height: 10px;
        &:before {
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 1px solid $border-color;
        }
        &:after {
            position: absolute;
            top: 3px;
            left: 3px;
            content: '';
            width: 6px;
            height: 6px;
            opacity: 0;
            border-radius: 50%;
            background: $active-color;
        }
    }
}
label {}
input, select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid $border-color;
  outline: none;
  font-size: 1rem;
  line-height: 1;
  &.invalid, .error {
      border-color: $active-color;
  }
}
button {
  cursor: pointer;
  cursor: pointer;
}
textarea {
  resize: none;
  min-height: 70px;
}
select {
  outline: 0;
  border-radius: 0;
  border: 1px solid $border-color;
  padding: 5px 15px 5px 5px;
  font-size: 16px;
  line-height: 1;
  box-sizing: border-box;
  -webkit-padding-end: 25px;
  -webkit-padding-start: 5px;
  -moz-padding-end: 25px;
  -moz-padding-start: 5px;
  padding-end: 25px;
  padding-start: 5px;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  text-indent: 0;
  color: $primary-color;
  background: url('#{$image-src}/arrow.svg') 100% 50% no-repeat;
  background-size: 12px;
}
select::-ms-expand{
  display: none;
}
::-webkit-input-placeholder {color:#ccc; text-overflow: ellipsis;}
::-moz-placeholder {color:#ccc; text-overflow: ellipsis; opacity: 1;}
::-ms-input-placeholder {color:#ccc; text-overflow: ellipsis;}

.tranaparent-button {
    background: none;
    box-shadow: none;
    border: none;
    font-size: 0.875rem;
    line-height: 1;
}
.button {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    background: none;
    border: 1px solid $border-color;
    box-shadow: none;
    border-radius: 0;
}
.submit-button {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    background: #eee;
    border: 1px solid $border-color;
    box-shadow: none;
    border-radius: 0;
}
/*---------Forms---------*/

/*-----------Article-----------*/
.article {
  table {
    margin-top: 20px;
    th,td {
      padding: 5px;
    }
  }
  h1,h2,h3,h4,h5,h6,p,img {
    padding-bottom: 15px;
  }
}
/*-----------Article-----------*/

/*-----------Header-----------*/
.header-top {
    padding: 10px 0;
    background: #d7d7d7;
}
.header-top-menu-list
.header-bottom-menu-list,
.header-login ul,
.header-lang ul,{
    list-style-type: none;
}
.header-top-menu-child,
.header-bottom-menu-child,
.header-login ul li,
.header-lang ul li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
    &:last-child {
        margin-right: 0;
    }
}
.header-lang {
    a.active {
        color: $active-color;
    }
}
.header-search {
    position: relative;
    input[type="text"] {
        padding-right: 30px;
    }
    button {
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -7px;
        z-index: 1;
    }
}
.header-bottom {
    padding: 10px;
    background: #eeeeee;
}
.header-callback {
    .dropdown {
        display: inline-block;
    }
    .dropdown-button {
        background: none;
        box-shadow: none;
        border: none;
    }
    .dropdown-menu {
        left: auto;
        right: 0;
        width: 200px;
    }
}
/*-----------Header-----------*/

/*-----------Main-----------*/
#main-slider {
    max-height: 290px;
    overflow: hidden;
}
.main-slider-item {
    position: relative;
    article {
        position: absolute;
        top: 35%;
        left: 30px;
    }
}
.social {
    padding: 10px 0 0;
}
.social-list {
    list-style: none;
}
.social-child {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
    &:last-child {
        margin-right: 0;
    }
}
.old-price {
    text-decoration: line-through;
}
.product-item {
    padding: 0 5px;
}
.carousel {
    padding: 0 0 30px;
    .slick-dots {
        bottom: 0;
    }
}
.seo {
    padding: 10px 0;
    background: #eeeeee;
}
.list-item {
    padding: 5px 0;
}
/*-----------Main-----------*/

/*-----------Catalog-----------*/
.catalog-list {}
.catalog-blocks {
    padding: 10px 0 0;
    .col-xs-4 {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
.catalog-sort {
    padding: 20px 0 10px;
    .form-row {
        display: inline-block;
        vertical-align: middle;
    }
    label, select {
        display: inline-block;
        vertical-align: middle;
    }
    select {
        width: auto;
    }
}
.catalog-filter {}
.catalog-filter-headline {
    font-size: 1.5625rem;
}
.catalog-filter-current {
    padding: 20px 0 0;
}
.filter-current-row {
    padding: 5px 0;
    .small-close {
        display: inline-block;
        vertical-align: middle;
    }
}
.filter-current-value {
    display: inline-block;
    vertical-align: middle;
}
.catalog-filter-all {
    padding: 20px 0 0;
}
.catalog-filter-section {
    padding: 10px 0;
}
/*-----------Catalog-----------*/


.product-page {
    padding: 0 0 40px;
}

/*-----------Product gallery-----------*/
#product-gallery-additional {
    padding: 0 0 30px;
    .slick-dots {
        bottom: 0;
    }
}
.product-gallery-small {
    border: 1px solid transparent;
    text-align: center;
    font-size: 0;
    line-height: 1;
    &.active {
        border-color: $active-color;
    }
    img {
        display: inline-block;
    }
}
/*-----------Product gallery-----------*/

/*-----------Product review-----------*/
.product-review {}
.product-review-title {
    font-size: 1.5rem;
    @include font-bold();
}
.product-review-header {}
.product-review-body {}
.product-review-item {
    position: relative;
    margin: 20px 0;
    padding: 0 0 0 50px;
    min-height: 40px;
    figure {
        position: absolute;
        top: 0;
        left: 0;
    }
    article {}
    footer {}
}
.review-item-content {}
/*-----------Product review-----------*/

/*-----------Page-----------*/
.page-section {
    header {
        time {
            display: block;
            padding: 0 0 5px;
        }
    }
    article {
        padding: 20px 0 0;
    }
}
/*-----------Page-----------*/

/*-----------Basket-----------*/
.basket-item {
    position: relative;
    .small-close {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
}
.basket-item-body {
    .price,
    .counter,
    .total-price {
        display: inline-block;
        vertical-align: middle;
    }
}
/*-----------Basket-----------*/

/*-----------Search result-----------*/
.search-filter {
    ul {
        list-style-type: none;
    }
    li {
        display: inline-block;
        vertical-align: middle;
        margin-right: 6px;
        &:last-child {
            margin-right: 0;
        }
    }
    a {
        &.active {
            color: $active-color;
        }
    }
}
/*-----------Search result-----------*/

/*-----------Profile-----------*/
.profile-menu-link {
    &.active {
        color: $active-color;
    }
}
/*-----------Profile-----------*/

/*-----------Compare page-----------*/
.compare-page {}
.compare-header,
.compare-body,
.compare-footer {
    padding: 10px 0;
}
.compare-table {
    text-align: center;
    th {
        vertical-align: middle;
        min-width: 280px;
    }
    td {
        vertical-align: middle;
        padding: 10px 0;
    }
}
.compare-item {
    position: relative;
    padding: 0 0 0 70px;
    min-width: 280px;
    min-height: 40px;
    text-align: left;
}
.compare-item-image {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -30px;
    img {
        width: auto;
        height: auto;
        max-width: 60px;
        max-height: 60px;
    }
}
/*-----------Compare page-----------*/

/*-----------Footer-----------*/
.footer {
    .seo {
        margin: 0;
    }
}
.footer-content {
    margin: 0;
    padding: 10px 0;
    background: #d7d7d7;
}
.footer-menu-list {
    list-style-type: none;
}
.footer-menu-child {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
    &:last-child {
        margin-right: 0;
    }
}
.compare-fixed-label {
    position: fixed;
    padding: 5px 20px;
    bottom: 0;
    right: 0;
    color: #fff;
    background: black;
    z-index: 1;
}
.compare-fixed-label a {
    color: #fff;
    text-decoration: none;
}
/*-----------Footer-----------*/

/*-----------Media-----------*/
@media print {}

@media (max-width: 1560px) {}
@media (max-width: 1439px) {}
@media (max-width: 1365px) {}
@media (max-width: 1265px) {}
@media (max-width: 1199px) {}
@media (max-width: 1024px) {}

@media (max-width: 1023px) {}
@media (max-width: 959px) {}
@media (max-width: 768px) {}

@media (max-width: 766px) {}
@media (max-width: 640px) {}
@media (max-width: 567px) {}
@media (max-width: 480px) {}
@media (max-width: 420px) {}
@media (max-width: 360px) {}
@media (max-width: 320px) {}
/*-----------Media-----------*/
