<div class="basket-item">
    <button type="button" class="small-close"></button>
    <div class="row-inline">
        <div class="col-inline-2 middle">
            <a href="javascript:;"><img src="https://placeholdit.imgix.net/~text?txtsize=75&txt=200%C3%97200&w=200&h=200" width="200" height="200" alt="photo" title="photo"></a>
        </div>
        <div class="col-inline-10 middle">
            <div class="basket-item-head">
                <a href="javascript:;">Название тестового товара 1</a>
            </div>
            <div class="basket-item-body">
                <div class="price"><span>300.00</span> грн</div>
                <div class="counter">
                    <button type="button" data-rel="-1" class="counter-nav prev default">-</button>
                    <input class="counter-val" type="text" value="1"/>
                    <button type="button" data-rel="+1" class="counter-nav next">+</button>
                </div>
                <div class="total-price">= <strong>300.00</strong> грн</div>
            </div>
        </div>
    </div>
</div>
