<!--catalog-filter!-->
<div class="catalog-filter">
    <div class="catalog-filter-headline">Фильтр:</div>
    <!--current!-->
    <div class="catalog-filter-current">
        <div class="filter-current-row">
            <div class="filter-current-value">Черный</div>
            <button type="button" class="small-close"></button>
        </div>
        <div class="filter-current-row">
            <div class="filter-current-value">100 Грн</div>
            <button type="button" class="small-close"></button>
        </div>
        <button type="button" class="button">Очистить все</button>
    </div>
    <!--current!-->
    <!--all!-->
    <div class="catalog-filter-all">
        <section class="catalog-filter-section">
            <div class="catalog-filter-title">Цвет:</div>
            <div class="catalog-filter-data">
                <div class="form-checkbox">
                    <input id="form-checkbox-1" type="checkbox">
                    <label for="form-checkbox-1">Черный</label>
                </div>
                <div class="form-checkbox">
                    <input id="form-checkbox-2" type="checkbox">
                    <label for="form-checkbox-2">Хакки</label>
                </div>
                <div class="form-checkbox">
                    <input id="form-checkbox-3" type="checkbox">
                    <label for="form-checkbox-3">Серый</label>
                </div>
            </div>
        </section>
        <section class="catalog-filter-section">
            <div class="catalog-filter-title">Бренд:</div>
            <div class="catalog-filter-data">
                <div class="form-checkbox">
                    <input id="form-checkbox-4" type="checkbox">
                    <label for="form-checkbox-4">Бренд 1</label>
                </div>
                <div class="form-checkbox">
                    <input id="form-checkbox-5" type="checkbox">
                    <label for="form-checkbox-5">Бренд 2</label>
                </div>
                <div class="form-checkbox">
                    <input id="form-checkbox-6" type="checkbox">
                    <label for="form-checkbox-6">Бренд 3</label>
                </div>
            </div>
        </section>
        <section class="catalog-filter-section">
            <div class="catalog-filter-title">Цена, грн:</div>
            <div class="catalog-filter-data">
                <div id="catalog-price"></div>
                <div>
                    <table>
                        <tr>
                            <td><input id="catalog-price-lower" type="text" value="1000"></td>
                            <td>-</td>
                            <td><input id="catalog-price-upper" type="text" value="5000"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
    </div>
    <!--all!-->
</div>
<!--catalog-filter!-->
