<!--catalog-sort!-->
<div class="catalog-sort">
    <div class="row-inline">
        <div class="col-inline-6 middle">
            <div class="form-row">
                <label for="catalog-sort">Сортировать:</label>
                <select id="catalog-sort">
                    <option>По названию</option>
                    <option>По цене</option>
                </select>
            </div>
        </div>
        <div class="col-inline-6 middle">
            <div class="form-row right">
                <label for="catalog-per-page">Показывать на странице</label>
                <select id="catalog-per-page">
                    <option>20</option>
                    <option>40</option>
                    <option>60</option>
                    <option>100</option>
                </select>
            </div>
        </div>
    </div>
</div>
<!--catalog-sort!-->
