<div class="product-item">
    <button type="button" class="small-close"></button>
    <div class="product-item-header">
        <figure class="product-item-image">
            <a href="javascript:;"><img src="https://placeholdit.imgix.net/~text?txtsize=75&txt=280%C3%97200&w=280&h=200" width="280" height="200" alt="slide" title="slide"></a>
        </figure>
    </div>
    <div class="product-item-body">
        <div class="product-item-title"><a href="javascript:;">Название товара 1</a></div>
        <div class="product-item-price">
            <div class="row-inline">
                <div class="col-inline-6 middle">
                    <div class="old-price">$490.00</div>
                </div>
                <div class="col-inline-6 middle">
                    <div class="price">$390.00</div>
                </div>
            </div>
        </div>
        <div class="product-item-rating rating">
            <span data-jq-rating
                  data-jq-rating-editable="false"
                  data-jq-rating-value="4.0000"
                  data-jq-rating-stars-count="5"
                  data-jq-rating-based-on="5">
                <input class="rating-input" type="hidden" data-jq-rating-grade />
            </span>
            <div class="message"></div>
        </div>
        <button type="button" class="button">Купить</button>
        <button type="button" class="button">Добавить в избранное</button>
        <div>10 комментариев</div>
        <div class="product-item-description">
            <p>Краткое описание товара</p>
        </div>
    </div>
</div>
