<footer class="footer">
    <!--section!-->
    <section class="section seo">
        <div class="container">
            <article>
                <p>Сео текст Сео текст Сео текст Сео текст Сео текст Сео текст Сео текст Сео текст </p>
                <p>Сео текст Сео текст Сео текст Сео текст Сео текст Сео текст Сео текст Сео текст </p>
                <p>Сео текст Сео текст Сео текст Сео текст Сео текст Сео текст Сео текст Сео текст </p>
            </article>
        </div>
    </section>
    <!--section!-->
    <!--section!-->
    <section class="section footer-content">
        <div class="container">
            <div class="row-inline">
                <div class="col-inline-xs-1 middle">
                    <figure class="footer-logo">
                        <a href="javascript:;"><img src="https://placehold.it/200" width="100" height="50" alt="demo-site" title="demo-site"></a>
                    </figure>
                </div>
                <div class="col-inline-xs-5 middle">
                    <div class="footer-menu">
                        <ul class="footer-menu-list">
                            <li class="footer-menu-child"><a href="javascript:;" class="footer-menu-link">Пункт 1</a></li>
                            <li class="footer-menu-child"><a href="javascript:;" class="footer-menu-link">Пункт 2</a></li>
                            <li class="footer-menu-child"><a href="javascript:;" class="footer-menu-link">Пункт 3</a></li>
                            <li class="footer-menu-child"><a href="javascript:;" class="footer-menu-link">Пункт 4</a></li>
                            <li class="footer-menu-child"><a href="javascript:;" class="footer-menu-link">Пункт 5</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-inline-xs-3 middle">
                    <div class="social">
                        <ul class="social-list">
                            <li class="social-child"><a href="javascript:;" class="social-link"><i class="fa fa-facebook"></i></a></li>
                            <li class="social-child"><a href="javascript:;" class="social-link"><i class="fa fa-vk"></i></a></li>
                            <li class="social-child"><a href="javascript:;" class="social-link"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-inline-xs-3 middle">
                    <div class="footer-contact">
                        <p><a href="mailto:mail@mail.com">mail@mail.com</a></p>
                        <p><a href="tel:(093) 333-44-00"><span itemprop="telephone">(093) 333-44-00</span></a></p>
                    </div>
                    <div class="footer-copyright">
                        Разработка сайта: <a title="Разработка сайта: VIS-A-VIS design agency" target="_blank" href="http://vis-design.com/">VIS-A-VIS</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--section!-->
</footer>

<div class="compare-fixed-label">
    <a href="javascript:;">Сравнение (0)</a>
</div>

<script async src="builds/all.min.js"></script>
