<!--header!-->
<header class="header">
    <!--top!-->
    <div class="header-top">
        <div class="container">
            <div class="row-inline">
                <div class="col-inline-5 middle">
                    <div class="header-top-menu">
                        <ul class="header-top-menu-list">
                            <li class="header-top-menu-child"><a href="javascript:;" class="header-top-menu-link">Пункт 1</a></li>
                            <li class="header-top-menu-child"><a href="javascript:;" class="header-top-menu-link">Пункт 2</a></li>
                            <li class="header-top-menu-child"><a href="javascript:;" class="header-top-menu-link">Пункт 3</a></li>
                            <li class="header-top-menu-child"><a href="javascript:;" class="header-top-menu-link">Пункт 4</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-inline-3 middle">
                    <div class="header-search">
                        <form>
                            <input type="text" name="q" placeholder="Поиск...">
                            <button type="submit" class="tranaparent-button"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-inline-3 middle">
                    <div class="header-login">
                        <ul>
                            <li><button type="button" class="tranaparent-button" data-popup data-target="#login-popup">Вход</button></li>
                            <li><button type="button" class="tranaparent-button" data-popup data-target="#registration-popup">Регистрация</button></li>
                        </ul>
                    </div>
                    <!--<div class="header-logined"></div>!-->
                </div>
                <div class="col-inline-1 middle">
                    <div class="header-lang">
                        <ul>
                            <li><a href="javascript:;">Eng</a></li>
                            <li><a href="javascript:;" class="active">Ru</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--top!-->

    <!--bottom!-->
    <div class="header-bottom">
        <div class="container">
            <div class="row-inline">
                <div class="col-inline-1 middle">
                    <figure class="header-logo">
                        <a href="@@link"><img src="https://placehold.it/200" width="100" height="50" alt="damo-site" title="demo-site"></a>
                    </figure>
                </div>
                <div class="col-inline-8 middle">
                    <nav class="header-bottom-menu">
                        <ul class="header-bottom-menu-list">
                            <li class="header-bottom-menu-child"><a href="javascript:;" class="header-bottom-menu-link">Пункт 1</a></li>
                            <li class="header-bottom-menu-child"><a href="javascript:;" class="header-bottom-menu-link">Пункт 2</a></li>
                            <li class="header-bottom-menu-child"><a href="javascript:;" class="header-bottom-menu-link">Пункт 3</a></li>
                            <li class="header-bottom-menu-child"><a href="javascript:;" class="header-bottom-menu-link">Пункт 4</a></li>
                            <li class="header-bottom-menu-child"><a href="javascript:;" class="header-bottom-menu-link">Пункт 5</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-inline-3 middle">
                    <div class="header-contact" itemscope itemtype="http://schema.org/Organization">
                        <span style="display: none" itemprop="name">Общество с ограниченной ответственностью Demo-site</span>
                        <div style="display: none" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                            Юридический адрес: 119049, г. Киев
                        </div>
                        <p><a href="mailto:mail@mail.com">mail@mail.com</a></p>
                        <p><a href="tel:(093) 333-44-00"><span itemprop="telephone">(093) 333-44-00</span></a></p>
                    </div>
                    <div class="header-callback">
                        <div id="callback" class="dropdown">
                            <button type="button" class="dropdown-button" data-dropdown>Перезвоните мне</button>
                            <div class="dropdown-menu">
                                <form>
                                    <div class="form-row">
                                        <input type="text" name="name" placeholder="Имя">
                                    </div>
                                    <div class="form-row">
                                        <input type="tel" name="tel" placeholder="Телефон">
                                    </div>
                                    <div class="form-row">
                                        <textarea name="text" placeholder="Комментарий"></textarea>
                                    </div>
                                    <div class="form-row">
                                        <button type="submit" class="submit-button">Отправить</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--bottom!-->
</header>
<!--header!-->
