<!--header!-->
<header class="header">
    <!--top!-->
    <div class="header-top">
        <div class="container">
            <div class="row-inline">
                <div class="col-inline-5 middle">
                    <div class="header-top-menu">
                        <ul class="header-top-menu-list" itemscope itemtype="http://schema.org/ItemList">
                            <li class="header-top-menu-child" itemprop="itemListElement" itemscope itemtype="http://schema.org/ItemList">
                                <a itemprop="url" href="javascript:;" class="header-top-menu-link" title="Пункт 1">
                                    <span itemprop="name">Пункт 1</span>
                                </a>
                            </li>
                            <li class="header-top-menu-child" itemprop="itemListElement" itemscope itemtype="http://schema.org/ItemList">
                                <a itemprop="url" href="javascript:;" class="header-top-menu-link" title="Пункт 2">
                                    <span itemprop="name">Пункт 2</span>
                                </a>
                            </li>
                            <li class="header-top-menu-child" itemprop="itemListElement" itemscope itemtype="http://schema.org/ItemList">
                                <a itemprop="url" href="javascript:;" class="header-top-menu-link" title="Пункт 3">
                                    <span itemprop="name">Пункт 3</span>
                                </a>
                            </li>
                            <li class="header-top-menu-child" itemprop="itemListElement" itemscope itemtype="http://schema.org/ItemList">
                                <a itemprop="url" href="javascript:;" class="header-top-menu-link" title="Пункт 4">
                                    <span itemprop="name">Пункт 4</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-inline-3 middle">
                    <div class="header-search" itemscope itemtype="http://schema.org/WebSite">
                        <form itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction">
                            <input itemprop="query-input" type="text" name="q" placeholder="Поиск..." required>
                            <button type="submit" class="tranaparent-button"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-inline-3 middle">
                    <div class="header-login">
                        <ul>
                            <li><button type="button" class="tranaparent-button" data-popup data-target="#login-popup">Вход</button></li>
                            <li><button type="button" class="tranaparent-button" data-popup data-target="#registration-popup">Регистрация</button></li>
                        </ul>
                    </div>
                    <!--<div class="header-logined"></div>!-->
                </div>
                <div class="col-inline-1 middle">
                    <div class="header-lang">
                        <ul>
                            <li><a href="javascript:;">Eng</a></li>
                            <li><a href="javascript:;" class="active">Ru</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--top!-->

    <!--bottom!-->
    <div class="header-bottom">
        <div class="container">
            <div class="row-inline">
                <div class="col-inline-1 middle">
                    <figure class="header-logo" itemscope itemtype="http://schema.org/Organization">
                        <meta itemprop="name" content="Demo-site">
                        <meta itemprop="email" content="mail@mail.com">
                        <meta itemprop="address" content="Киев, пр. Победы 67">
                        <meta itemprop="telephone" content="+380933334400">
                        <a itemprop="url" href="@@link">
                            <img itemprop="logo" src="https://placehold.it/200" width="100" height="50" alt="damo-site" title="demo-site">
                        </a>
                    </figure>
                </div>
                <div class="col-inline-8 middle">
                    <nav class="header-bottom-menu" itemscope itemtype="http://schema.org/SiteNavigationElement">
                        <ul class="header-bottom-menu-list" itemprop="about" itemscope itemtype="http://schema.org/ItemList">
                            <li class="header-bottom-menu-child" itemprop="itemListElement" itemscope itemtype="http://schema.org/ItemList">
                                <a itemprop="url" href="javascript:;" class="header-bottom-menu-link" title="Пункт 1">
                                    <span itemprop="name">Пункт 1</span>
                                </a>
                            </li>
                            <li class="header-bottom-menu-child" itemprop="itemListElement" itemscope itemtype="http://schema.org/ItemList">
                                <a itemprop="url" href="javascript:;" class="header-bottom-menu-link" title="Пункт 2">
                                    <span itemprop="name">Пункт 2</span>
                                </a>
                            </li>
                            <li class="header-bottom-menu-child" itemprop="itemListElement" itemscope itemtype="http://schema.org/ItemList">
                                <a itemprop="url" href="javascript:;" class="header-bottom-menu-link" title="Пункт 3">
                                    <span itemprop="name">Пункт 3</span>
                                </a>
                            </li>
                            <li class="header-bottom-menu-child" itemprop="itemListElement" itemscope itemtype="http://schema.org/ItemList">
                                <a itemprop="url" href="javascript:;" class="header-bottom-menu-link" title="Пункт 4">
                                    <span itemprop="name">Пункт 4</span>
                                </a>
                            </li>
                            <li class="header-bottom-menu-child" itemprop="itemListElement" itemscope itemtype="http://schema.org/ItemList">
                                <a itemprop="url" href="javascript:;" class="header-bottom-menu-link" title="Пункт 5">
                                    <span itemprop="name">Пункт 5</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-inline-3 middle">
                    <div class="header-contact">
                        <p><a href="mailto:mail@mail.com">mail@mail.com</a></p>
                        <p><a href="tel:(093) 333-44-00">(093) 333-44-00</span></p>
                    </div>
                    <div class="header-callback">
                        <div id="callback" class="dropdown">
                            <button type="button" class="dropdown-button" data-dropdown>Перезвоните мне</button>
                            <div class="dropdown-menu">
                                <form>
                                    <div class="form-row">
                                        <input type="text" name="name" placeholder="Имя">
                                    </div>
                                    <div class="form-row">
                                        <input type="tel" name="tel" placeholder="Телефон">
                                    </div>
                                    <div class="form-row">
                                        <textarea name="text" placeholder="Комментарий"></textarea>
                                    </div>
                                    <div class="form-row">
                                        <button type="submit" class="submit-button">Отправить</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--bottom!-->
</header>
<!--header!-->
