<!--login!-->
<div id="login-popup" class="popup-container">
    <div class="popup">
        <div class="popup-content">
            <div class="popup-header">
                <div class="popup-title">Вход</div>
                <button type="button" data-popup-close class="popup-close"><i class="fa fa-times"></i></button>
            </div>
            <div class="popup-body">
                <form name="login-form">
                    <div class="form-row">
                        <input type="email" name="email" placeholder="Email">
                    </div>
                    <div class="form-row">
                        <input type="password" name="password" placeholder="Пароль">
                    </div>
                    <div class="form-row clearfix">
                        <div class="left">
                            <button type="submit" class="submit-button">Войти</button>
                        </div>
                        <div class="right">
                            <div><button id="show-password-popup" type="button" class="tranaparent-button">Напоминание пароля</button></div>
                            <div><button id="show-registration-popup" type="button" class="tranaparent-button">Регистрация</button></div>
                        </div>
                    </div>
                </form>
                <div class="social">
                    <div class="row-inline">
                        <div class="col-inline-4 middle">
                            <div class="social-title">Вход через соцсети:</div>
                        </div>
                        <div class="col-inline-8 middle">
                            <ul class="social-list">
                                <li class="social-child"><a href="javascript:;" class="social-link"><i class="fa fa-facebook"></i></a></li>
                                <li class="social-child"><a href="javascript:;" class="social-link"><i class="fa fa-vk"></i></a></li>
                                <li class="social-child"><a href="javascript:;" class="social-link"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--registration!-->
<div id="registration-popup" class="popup-container">
    <div class="popup">
        <div class="popup-content">
            <div class="popup-header">
                <div class="popup-title">Регистрация</div>
                <button type="button" data-popup-close class="popup-close"><i class="fa fa-times"></i></button>
            </div>
            <div class="popup-body">
                <form name="registration-form">
                    <div class="form-row">
                        <input type="email" name="email" placeholder="Email">
                    </div>
                    <div class="form-row">
                        <input type="text" name="name" placeholder="Имя">
                    </div>
                    <div class="form-row">
                        <input type="text" name="surname" placeholder="Фамилия">
                    </div>
                    <div class="form-row">
                        <input type="password" name="password" placeholder="Пароль">
                    </div>
                    <div class="form-row">
                        <input type="password" name="password_2" placeholder="Повторите пароль">
                    </div>
                    <div class="form-row">
                        <button type="submit" class="submit-button">Зарегистрироваться</button>
                    </div>
                </form>
                <div class="social">
                    <div class="row-inline">
                        <div class="col-inline-4 middle">
                            <div class="social-title">Вход через соцсети:</div>
                        </div>
                        <div class="col-inline-8 middle">
                            <ul class="social-list">
                                <li class="social-child"><a href="javascript:;" class="social-link"><i class="fa fa-facebook"></i></a></li>
                                <li class="social-child"><a href="javascript:;" class="social-link"><i class="fa fa-vk"></i></a></li>
                                <li class="social-child"><a href="javascript:;" class="social-link"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--password!-->
<div id="password-popup" class="popup-container">
    <div class="popup">
        <div class="popup-content">
            <div class="popup-header">
                <div class="popup-title">Напоминание пароля</div>
                <button type="button" data-popup-close class="popup-close"><i class="fa fa-times"></i></button>
            </div>
            <div class="popup-body">
                <form name="password-form">
                    <div class="form-row">
                        <input type="email" name="email" placeholder="Email">
                    </div>
                    <div class="form-row clearfix">
                        <div class="left">
                            <button type="submit" class="submit-button">Отправить</button>
                        </div>
                        <div class="right">
                            <div><button id="show-login-popup" type="button" class="tranaparent-button">Вспомнил пароль</button></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
