<!--product-gallery!-->
<div class="product-gallery">
    <div id="product-gallery-main">
        <img src="https://placeholdit.imgix.net/~text?txtsize=75&txt=400%C3%97400&w=400&h=400" alt="photo" title="photo">
    </div>
    <div id="product-gallery-additional" data-show="4" data-scroll="3">
        <div>
            <div class="product-gallery-small" data-zoom="https://placeholdit.imgix.net/~text?txtsize=75&txt=400%C3%97400&w=400&h=400"><img src="https://placeholdit.imgix.net/~text?txtsize=75&txt=40%C3%9740&w=40&h=40" alt="photo" title="photo"></div>
        </div>
        <div>
            <div class="product-gallery-small" data-zoom="https://placeholdit.imgix.net/~text?txtsize=75&txt=400%C3%97400&w=400&h=400"><img src="https://placeholdit.imgix.net/~text?txtsize=75&txt=40%C3%9740&w=40&h=40" alt="photo" title="photo"></div>
        </div>
        <div>
            <div class="product-gallery-small" data-zoom="https://placeholdit.imgix.net/~text?txtsize=75&txt=400%C3%97400&w=400&h=400"><img src="https://placeholdit.imgix.net/~text?txtsize=75&txt=40%C3%9740&w=40&h=40" alt="photo" title="photo"></div>
        </div>
        <div>
            <div class="product-gallery-small" data-zoom="https://placeholdit.imgix.net/~text?txtsize=75&txt=400%C3%97400&w=400&h=400"><img src="https://placeholdit.imgix.net/~text?txtsize=75&txt=40%C3%9740&w=40&h=40" alt="photo" title="photo"></div>
        </div>
        <div>
            <div class="product-gallery-small" data-zoom="https://placeholdit.imgix.net/~text?txtsize=75&txt=400%C3%97400&w=400&h=400"><img src="https://placeholdit.imgix.net/~text?txtsize=75&txt=40%C3%9740&w=40&h=40" alt="photo" title="photo"></div>
        </div>
    </div>
</div>
<!--product-gallery!-->
