<!--section!-->
<section class="section">
    <div class="container">
        <div class="product-review" itemscope itemtype="http://schema.org/Review">
            <div class="product-review-header">
                <div class="row-inline">
                    <div class="col-inline-xs-6 middle">
                        <div class="product-review-title">Отзывы <span>(2)</span></div>
                    </div>
                    <div class="col-inline-xs-6 middle">
                        <div class="text-right">
                            <button type="button" class="submit-button" data-popup data-target="#product-review-popup">Оставить отзыв</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-review-body">
                <section class="product-review-item">
                    <figure>
                        <img src="https://placeholdit.imgix.net/~text?txtsize=75&txt=40%C3%9740&w=40&h=40" width="40" height="40" alt="user" title="user">
                    </figure>
                    <div class="review-item-content">
                        <header>
                            <div itemprop="author">Татьяна</div>
                            <time datetime="2016-06-30">30 июня 2016</time>
                        </header>
                        <article itemprop="description">
                            <p>Давно хотела приобрести вышивальную машину, облазила в поисках весь интернет, прочитала кучу описаний к машинам и отзывов. Решила, что лучше все-таки, чтобы машина и шила и вывышивала. Остановилась на Janome MC 9900 и не жалею. Цена, конечно, не маленькая, но она того стоит. Большое разнообразие красивых швов, простое управление, работает машинка тихо, плавно переходит на любую скорость, сама обрезает нитку.   Швейный советник подсказывает практически каждый шаг.
Качество вышивки прекрасное, много встроенных дизайнов, а так же легко читает дизайны с флешки. Машина даже сама форматирует флешку.
В общем, не нарадуюсь на свою красавицу.
Еще хочу сказать, что в магазине работают отзыв профессиональные и отзывчивые люди, подсказывают, консультируют, заказ доставили вовремя, без проблем. Спасибо!!!</p>
                        </article>
                        <footer>
                            <button type="button" class="button" data-popup data-target="#product-answer-review-popup">Ответить</button>
                        </footer>
                    </div>
                </section>
                <section class="product-review-item">
                    <figure>
                        <img src="https://placeholdit.imgix.net/~text?txtsize=75&txt=40%C3%9740&w=40&h=40" width="40" height="40" alt="user" title="user">
                    </figure>
                    <div class="review-item-content">
                        <header>
                            <div itemprop="author">Татьяна</div>
                            <time datetime="2016-06-30">30 июня 2016</time>
                        </header>
                        <article itemprop="description">
                            <p>Давно хотела приобрести вышивальную машину, облазила в поисках весь интернет, прочитала кучу описаний к машинам и отзывов. Решила, что лучше все-таки, чтобы машина и шила и вывышивала. Остановилась на Janome MC 9900 и не жалею. Цена, конечно, не маленькая, но она того стоит. Большое разнообразие красивых швов, простое управление, работает машинка тихо, плавно переходит на любую скорость, сама обрезает нитку.   Швейный советник подсказывает практически каждый шаг.
Качество вышивки прекрасное, много встроенных дизайнов, а так же легко читает дизайны с флешки. Машина даже сама форматирует флешку.
В общем, не нарадуюсь на свою красавицу.
Еще хочу сказать, что в магазине работают отзыв профессиональные и отзывчивые люди, подсказывают, консультируют, заказ доставили вовремя, без проблем. Спасибо!!!</p>
                        </article>
                        <footer>
                            <section class="product-review-item">
                                <figure>
                                    <img src="https://placeholdit.imgix.net/~text?txtsize=75&txt=40%C3%9740&w=40&h=40" width="40" height="40" alt="user" title="user">
                                </figure>
                                <div class="review-item-content">
                                    <header>
                                        <div itemprop="author">Татьяна</div>
                                        <time datetime="2016-06-30">30 июня 2016</time>
                                    </header>
                                    <article itemprop="description">
                                        <p>Давно хотела приобрести вышивальную машину, облазила в поисках весь интернет, прочитала кучу описаний к машинам и отзывов. Решила, что лучше все-таки, чтобы машина и шила и вывышивала. Остановилась на Janome MC 9900 и не жалею. Цена, конечно, не маленькая, но она того стоит. Большое разнообразие красивых швов, простое управление, работает машинка тихо, плавно переходит на любую скорость, сама обрезает нитку.   Швейный советник подсказывает практически каждый шаг.
Качество вышивки прекрасное, много встроенных дизайнов, а так же легко читает дизайны с флешки. Машина даже сама форматирует флешку.
В общем, не нарадуюсь на свою красавицу.
Еще хочу сказать, что в магазине работают отзыв профессиональные и отзывчивые люди, подсказывают, консультируют, заказ доставили вовремя, без проблем. Спасибо!!!</p>
                                    </article>
                                    <footer>
                                        <button type="button" class="button" data-popup data-target="#product-answer-review-popup">Ответить</button>
                                    </footer>
                                </div>
                            </section>
                        </footer>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
<!--section!-->

<div id="product-review-popup" class="popup-container">
    <div class="popup">
        <div class="popup-content">
            <div class="popup-header">
                <div class="popup-title">Оставить отзыв</div>
                <button type="button" data-popup-close class="popup-close"><i class="fa fa-times"></i></button>
            </div>
            <div class="popup-body">
                <form name="product-review-form">
                    <div class="form-row">
                        <textarea name="text" placeholder="Ваш текст"></textarea>
                    </div>
                    <div class="form-row">
                        <button type="submit" class="submit-button">Опубликовать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="product-answer-review-popup" class="popup-container">
    <div class="popup">
        <div class="popup-content">
            <div class="popup-header">
                <div class="popup-title">Ответить на отзыв</div>
                <button type="button" data-popup-close class="popup-close"><i class="fa fa-times"></i></button>
            </div>
            <div class="popup-body">
                <form name="product-answer-review-form">
                    <div class="form-row">
                        <input type="email" name="email" placeholder="Email">
                    </div>
                    <div class="form-row">
                        <input type="text" name="name" placeholder="Имя">
                    </div>
                    <div class="form-row">
                        <textarea name="text" placeholder="Ваш текст"></textarea>
                    </div>
                    <div class="form-row">
                        <button type="submit" class="submit-button">Опубликовать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
