@@include('templates/partilas/head.html')

@@include('templates/partilas/header.html', {
    "link" : "index-7.html"
})

<!--main!-->
<main>
    @@include('templates/partilas/breadcrumbs.html', {
        "links" : {
            "main" : "Главная",
            "current" : "Название тестового товара 1"
        }
    })

    <!--product-page!-->
    <section class="section product-page" itemscope itemtype="http://schema.org/Product">
        <div class="container">
            <!--section!-->
            <section class="section">
                <div class="row">
                    <div class="col-xs-4 product-sidebar">
                        @@include('templates/partilas/product-gallery.html')
                    </div>
                    <div class="col-xs-8 product-content">
                        <h1 itemprop="name">Название тестового товара 1</h1>
                        <div class="product-articul">Арт. 100555</div>
                        <div class="product-status">Есть в наличии</div>
                        <div class="product-price" itemscope itemtype="http://schema.org/Offer">
                            <div class="row-inline">
                                <div class="col-inline-6 middle">
                                    <div class="old-price">$490.00</div>
                                </div>
                                <div class="col-inline-6 middle">
                                    <div class="price" itemprop="price">390.00 <span itemprop="priceCurrency">грн</span></div>
                                    <link itemprop="availability" href="http://schema.org/InStock">
                                </div>
                            </div>
                        </div>
                        <div class="product-rating rating">
                            <span data-jq-rating
                                  data-jq-rating-editable="true"
                                  data-jq-rating-value="4.0000"
                                  data-jq-rating-stars-count="5"
                                  data-jq-rating-based-on="5">
                                <input class="rating-input" type="hidden" data-jq-rating-grade />
                            </span>
                            <div class="message"></div>
                        </div>
                        <button type="button" class="button">Купить</button>
                        <button type="button" class="button" data-popup data-target="#buy-one-click-popup">Купить в 1 клик</button>
                        <button type="button" class="button">Добавить в сравнение</button>
                        <button type="button" class="button">Добавить в избранное</button>
                        <div>10 комментариев</div>
                    </div>
                </div>
            </section>
            <!--section!-->
            <!--section!-->
            <section class="section">
                <div id="product-tabs" class="tabs">
                    <ul>
                        <li data-tab class="active"><button type="button" data-tab-button data-id="product-tab-all, product-tab-description, product-tab-haracteristics" class="button">Все</button></li>
                        <li data-tab><button type="button" data-tab-button data-id="product-tab-description" class="button">Описание</button></li>
                        <li data-tab><button type="button" data-tab-button data-id="product-tab-haracteristics" class="button">Характеристики</button></li>
                    </ul>
                </div>
                <div data-parent-id="product-tabs" id="product-tab-description" class="tab-container active">
                    <article class="article" itemprop="description">
                        <h2>Описание</h2>
                        <p>Деловые переговоры и многочасовые встречи с партнерами, офисные совещания и длительное изучение документов – все эти служебные обязанности можно с лёгкостью пережить, комфортно устроившись в кресле Атлант. Это стильное и солидное кресло, которое идеально подходит для руководителя компании или управляющего фирмы. Оно по всем своим характеристикам соответствует основным требованиям, предъявляемым к креслу руководителя среднего звена. Атлант имеет высокую спинку, глубокую и широкую посадку, отлично подойдет для людей высокого и среднего роста. Эргономичные изгибы сидения и спинки в </p>
                    </article>
                </div>
                <div data-parent-id="product-tabs" id="product-tab-haracteristics" class="tab-container active">
                    <article class="article">
                        <h2>Характеристики</h2>
                        <p>Вид кресла: кресло для руководителя</p>
                        <p>Механизм: механизм качания Tilt</p>
                        <p>Регулировки: высота сидения, жеткость качания, фиксация в рабочем положении</p>
                    </article>
                </div>
            </section>
            <!--section!-->
            @@include('templates/partilas/product-review.html')
            <!--section!-->
            <section class="section">
                <div class="container">
                    <div class="section-title">Другие товары</div>
                    <div data-show="4" data-scroll="3" class="carousel">
                        <div>
                            @@include('templates/partilas/product-block.html')
                        </div>
                        <div>
                            @@include('templates/partilas/product-block.html')
                        </div>
                        <div>
                            @@include('templates/partilas/product-block.html')
                        </div>
                        <div>
                            @@include('templates/partilas/product-block.html')
                        </div>
                        <div>
                            @@include('templates/partilas/product-block.html')
                        </div>
                    </div>
                </div>
            </section>
            <!--section!-->
        </div>
    </section>
    <!--product-page!-->

</main>
<!--main!-->

@@include('templates/partilas/footer.html')

@@include('templates/partilas/popups.html')

<!--buy-one-click!-->
<div id="buy-one-click-popup" class="popup-container">
    <div class="popup">
        <div class="popup-content">
            <div class="popup-header">
                <div class="popup-title">Купить в один клик</div>
                <button type="button" data-popup-close class="popup-close"><i class="fa fa-times"></i></button>
            </div>
            <div class="popup-body">
                <form name="buy-one-click-form">
                    <div class="form-row">
                        <input type="tel" name="tel">
                    </div>
                    <div class="form-row">
                        <button type="submit" class="submit-button">Купить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script async src="builds/all.min.js"></script>

</body>
</html>
