@@include('templates/partilas/head.html')

@@include('templates/partilas/header.html', {
    "link" : "index-6.html"
})

<!--main!-->
<main>
    <!--breadcrumbs!-->
    <section class="breadcrumbs">
        <div class="container">
            <ul class="breadcrumbs-list">
                <li class="breadcrumbs-child">
                    <a href="javascript:;" class="breadcrumbs-link">Главная</a>
                </li>
                <li class="breadcrumbs-child">
                    <span> > </span>
                </li>
                <li class="breadcrumbs-child">
                    <span class="breadcrumbs-link active">Каталог товаров</span>
                </li>
            </ul>
        </div>
    </section>
    <!--breadcrumbs!-->

    <!--catalog-page!-->
    <section class="section catalog-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-3 catalog-sidebar">
                    @@include('templates/partilas/catalog-filter.html')
                </div>
                <div class="col-xs-9 catalog-content">
                    <h1>Каталог товаров</h1>
                    @@include('templates/partilas/catalog-sort.html')
                    <div class="catalog-blocks">
                        <div class="row">
                            <div class="col-xs-4">
                                @@include('templates/partilas/product-block.html')
                            </div>
                            <div class="col-xs-4">
                                @@include('templates/partilas/product-block.html')
                            </div>
                            <div class="col-xs-4">
                                @@include('templates/partilas/product-block.html')
                            </div>
                            <div class="col-xs-4">
                                @@include('templates/partilas/product-block.html')
                            </div>
                            <div class="col-xs-4">
                                @@include('templates/partilas/product-block.html')
                            </div>
                            <div class="col-xs-4">
                                @@include('templates/partilas/product-block.html')
                            </div>
                            <div class="col-xs-4">
                                @@include('templates/partilas/product-block.html')
                            </div>
                            <div class="col-xs-4">
                                @@include('templates/partilas/product-block.html')
                            </div>
                            <div class="col-xs-4">
                                @@include('templates/partilas/product-block.html')
                            </div>
                        </div>
                    </div>
                    @@include('templates/partilas/pagination.html')
                </div>
            </div>
        </div>
    </section>
    <!--catalog-page!-->
</main>
<!--main!-->

@@include('templates/partilas/footer.html')

@@include('templates/partilas/popups.html')

<script async src="builds/all.min.js"></script>

<link rel="stylesheet" property="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" type="text/css">
<script async src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script async src="js/catalog.js"></script>

</body>
</html>
