@@include('templates/partilas/head.html')

@@include('templates/partilas/header.html', {
    "link" : "index-7.html"
})

<!--main!-->
<main>
    <!--breadcrumbs!-->
    <section class="breadcrumbs">
        <div class="container">
            <ul class="breadcrumbs-list">
                <li class="breadcrumbs-child">
                    <a href="javascript:;" class="breadcrumbs-link">Главная</a>
                </li>
                <li class="breadcrumbs-child">
                    <span> > </span>
                </li>
                <li class="breadcrumbs-child">
                    <a class="breadcrumbs-link active">Каталог товаров</a>
                </li>
                <li class="breadcrumbs-child">
                    <span> > </span>
                </li>
                <li class="breadcrumbs-child">
                    <span class="breadcrumbs-link active">Товаров 1</span>
                </li>
            </ul>
        </div>
    </section>
    <!--breadcrumbs!-->



</main>
<!--main!-->

@@include('templates/partilas/footer.html')

@@include('templates/partilas/popups.html')

<script async src="builds/all.min.js"></script>

</body>
</html>
