    @@include('templates/partilas/head.html')

    @@include('templates/partilas/header.html', {
        "link" : "index-5.html"
    })

    <!--main!-->
    <main>
        @@include('templates/partilas/breadcrumbs.html', {
            "links" : {
                "main" : "Главная",
                "current" : "Категории"
            }
        })

        <!--section!-->
        <section class="section">
            <div class="container">
                <h1>Категории</h1>
            </div>
        </section>
        <!--section!-->

        <!--section!-->
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3">
                        @@include('templates/partilas/category-block.html')
                    </div>
                    <div class="col-xs-3">
                        @@include('templates/partilas/category-block.html')
                    </div>
                    <div class="col-xs-3">
                        @@include('templates/partilas/category-block.html')
                    </div>
                    <div class="col-xs-3">
                        @@include('templates/partilas/category-block.html')
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        @@include('templates/partilas/category-block.html')
                    </div>
                    <div class="col-xs-3">
                        @@include('templates/partilas/category-block.html')
                    </div>
                    <div class="col-xs-3">
                        @@include('templates/partilas/category-block.html')
                    </div>
                    <div class="col-xs-3">
                        @@include('templates/partilas/category-block.html')
                    </div>
                </div>
            </div>
        </section>
        <!--section!-->
    </main>
    <!--main!-->

    @@include('templates/partilas/footer.html')

    @@include('templates/partilas/popups.html')

</body>
</html>
