@@include('templates/partilas/head.html')

@@include('templates/partilas/header.html', {
    "link" : "index-11.html"
})

<!--main!-->
<main>
    @@include('templates/partilas/breadcrumbs.html', {
        "links" : {
            "main" : "Главная",
            "current" : "Личный кабинет"
        }
    })

    <!--profile-page!-->
    <section class="section profile-page">
        <div class="container">
            <!--section!-->
            <section class="section">
                <div class="row">
                    <div class="col-xs-3 profile-sidebar">
                        <div class="profile-menu">
                            <ul class="profile-menu-list" itemscope itemtype="http://schema.org/ItemList">
                                <li class="profile-menu-child" itemprop="itemListElement" itemscope itemtype="http://schema.org/ItemList">
                                    <a itemprop="url" href="javascript:;" class="profile-menu-link active" title="Персональные данные">
                                        <span itemprop="name">Персональные данные</span>
                                    </a>
                                </li>
                                <li class="profile-menu-child" itemprop="itemListElement" itemscope itemtype="http://schema.org/ItemList">
                                    <a itemprop="url" href="javascript:;" class="profile-menu-link" title="Избранное">
                                        <span itemprop="name">Избранное</span>
                                    </a>
                                </li>
                                <li class="profile-menu-child" itemprop="itemListElement" itemscope itemtype="http://schema.org/ItemList">
                                    <a itemprop="url" href="javascript:;" class="profile-menu-link" title="История покупок">
                                        <span itemprop="name">История покупок</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-9 profile-content">
                        <form name="profile-form">
                            <div class="form-row">
                                <input type="email" name="email" placeholder="Email">
                            </div>
                            <div class="form-row">
                                <input type="text" name="name" placeholder="Имя">
                            </div>
                            <div class="form-row">
                                <input type="text" name="surname" placeholder="Фамилия">
                            </div>
                            <div class="form-row">
                                <input type="password" name="password" placeholder="Пароль">
                            </div>
                            <div class="form-row">
                                <input type="password" name="password-2" placeholder="Повторите пароль">
                            </div>
                            <div class="form-row">
                                <button type="submit" class="submit-button">Сохранить</button>
                            </div>
                        </form>
                        <form name="profile-password-form">
                            <div class="form-row">
                                <input type="password" name="old_password" placeholder="Старый пароль">
                            </div>
                            <div class="form-row">
                                <input type="password" name="new_password" placeholder="Новый пароль">
                            </div>
                            <div class="form-row">
                                <input type="password" name="retry_password" placeholder="Повторите пароль">
                            </div>
                            <div class="form-row">
                                <button type="submit" class="submit-button">Сохранить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            <!--section!-->
        </div>
    </section>
    <!--profile-page!-->

</main>
<!--main!-->

@@include('templates/partilas/footer.html')

@@include('templates/partilas/popups.html')

</body>
</html>
