    @@include('templates/partilas/head.html')

    @@include('templates/partilas/header.html', {
        "link" : "index-2.html"
    })

    <!--main!-->
    <main>
        @@include('templates/partilas/breadcrumbs.html', {
            "links" : {
                "main" : "Главная",
                "current" : "Блог"
            }
        })

        <!--section!-->
        <section class="section">
            <div class="container">
                <h1>Блог</h1>
            </div>
        </section>
        <!--section!-->

        <!--section!-->
        <section class="section">
            <div class="container">
                <div class="catalog-list">
                    <section class="list-item">
                        <div class="row-inline">
                            <div class="col-inline-xs-2 top">
                                <header>
                                    <figure class="list-item-image">
                                        <a href="javascript:;"><img src="https://placeholdit.imgix.net/~text?txtsize=75&txt=200%C3%97200&w=200&h=200" width="200" height="200" alt="новость 1" title="новость 1"></a>
                                    </figure>
                                </header>
                            </div>
                            <div class="col-inline-xs-10 top">
                                <article>
                                    <time datetime="2016-06-30">30 июня 2016</time>
                                    <div class="list-item-title"><a href="javascript:;">Название тестовой новости 1</a></div>
                                    <div class="list-item-description">
                                        <p>Краткое описание тестовой новости 1</p>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </section>
                    <section class="list-item">
                        <div class="row-inline">
                            <div class="col-inline-xs-12 top">
                                <article>
                                    <time datetime="2016-06-30">30 июня 2016</time>
                                    <div class="list-item-title"><a href="javascript:;">Название тестовой новости 2</a></div>
                                    <div class="list-item-description">
                                        <p>Краткое описание тестовой новости 2</p>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </section>
                    <section class="list-item">
                        <div class="row-inline">
                            <div class="col-inline-xs-2 top">
                                <header>
                                    <figure class="list-item-image">
                                        <a href="javascript:;"><img src="https://placeholdit.imgix.net/~text?txtsize=75&txt=200%C3%97200&w=200&h=200" width="200" height="200" alt="новость 1" title="новость 1"></a>
                                    </figure>
                                </header>
                            </div>
                            <div class="col-inline-xs-10 top">
                                <article>
                                    <time datetime="2016-06-30">30 июня 2016</time>
                                    <div class="list-item-title"><a href="javascript:;">Название тестовой новости 3</a></div>
                                    <div class="list-item-description">
                                        <p>Краткое описание тестовой новости 3</p>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </section>
                </div>
                @@include('templates/partilas/pagination.html')
            </div>
        </section>
        <!--section!-->
    </main>
    <!--main!-->

    @@include('templates/partilas/footer.html')

    @@include('templates/partilas/popups.html')

</body>
</html>
