@@include('templates/partilas/head.html')

@@include('templates/partilas/header.html', {
    "link" : "index-8.html"
})

<!--main!-->
<main>
    @@include('templates/partilas/breadcrumbs.html', {
        "links" : {
            "main" : "Главная",
            "current" : "Корзина"
        }
    })

    <!--basket-page!-->
    <section class="section basket-page">
        <div class="container">
            <!--section!-->
            <section class="section">
                <div class="row">
                    <div class="col-xs-8 basket-content">
                        <div class="basket-list">
                            @@include('templates/partilas/basket-item.html')
                            @@include('templates/partilas/basket-item.html')
                        </div>
                    </div>
                    <div class="col-xs-4 basket-sidebar">
                        <div class="basket-info">
                            <div class="row-inline">
                                <div class="col-inline-6">Сумма заказа:</div>
                                <div class="col-inline-6"><strong>600</strong> грн</div>
                            </div>
                            <a href="javascript:;" class="submit-button">Перейти к оформлению</a>
                            <a href="javascript:;" class="button">Продолжить покупки</a>
                        </div>
                    </div>
                </div>
            </section>
            <!--section!-->
        </div>
    </section>
    <!--basket-page!-->

</main>
<!--main!-->

@@include('templates/partilas/footer.html')

@@include('templates/partilas/popups.html')

<script async src="builds/all.min.js"></script>

</body>
</html>
