@@include('templates/partilas/head.html')

@@include('templates/partilas/header.html', {
    "link" : "index-6.html"
})

<!--main!-->
<main>
    @@include('templates/partilas/breadcrumbs.html', {
        "links" : {
            "main" : "Главная",
            "current" : "Каталог товаров"
        }
    })

    <!--catalog-page!-->
    <section class="section catalog-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-3 catalog-sidebar">
                    @@include('templates/partilas/catalog-filter.html')
                </div>
                <div class="col-xs-9 catalog-content">
                    <h1>Каталог товаров</h1>
                    @@include('templates/partilas/catalog-sort.html')
                    <div class="catalog-blocks">
                        <div class="row">
                            <div class="col-xs-4">
                                @@include('templates/partilas/product-block.html')
                            </div>
                            <div class="col-xs-4">
                                @@include('templates/partilas/product-block.html')
                            </div>
                            <div class="col-xs-4">
                                @@include('templates/partilas/product-block.html')
                            </div>
                            <div class="col-xs-4">
                                @@include('templates/partilas/product-block.html')
                            </div>
                            <div class="col-xs-4">
                                @@include('templates/partilas/product-block.html')
                            </div>
                            <div class="col-xs-4">
                                @@include('templates/partilas/product-block.html')
                            </div>
                            <div class="col-xs-4">
                                @@include('templates/partilas/product-block.html')
                            </div>
                            <div class="col-xs-4">
                                @@include('templates/partilas/product-block.html')
                            </div>
                            <div class="col-xs-4">
                                @@include('templates/partilas/product-block.html')
                            </div>
                        </div>
                    </div>
                    @@include('templates/partilas/pagination.html')
                </div>
            </div>
        </div>
    </section>
    <!--catalog-page!-->
</main>
<!--main!-->

@@include('templates/partilas/footer.html')

@@include('templates/partilas/popups.html')

<link rel="stylesheet" property="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" type="text/css">

</body>
</html>
