@@include('templates/partilas/head.html')

@@include('templates/partilas/header.html', {
    "link" : "index-13.html"
})

<!--main!-->
<main>
    @@include('templates/partilas/breadcrumbs.html', {
        "links" : {
            "main" : "Главная",
            "current" : "Личный кабинет"
        }
    })

    <!--profile-page!-->
    <section class="section profile-page">
        <div class="container">
            <!--section!-->
            <section class="section">
                <div class="row">
                    <div class="col-xs-3 profile-sidebar">
                        <div class="profile-menu">
                            <ul class="profile-menu-list" itemscope itemtype="http://schema.org/ItemList">
                                <li class="profile-menu-child" itemprop="itemListElement" itemscope itemtype="http://schema.org/ItemList">
                                    <a itemprop="url" href="javascript:;" class="profile-menu-link" title="Персональные данные">
                                        <span itemprop="name">Персональные данные</span>
                                    </a>
                                </li>
                                <li class="profile-menu-child" itemprop="itemListElement" itemscope itemtype="http://schema.org/ItemList">
                                    <a itemprop="url" href="javascript:;" class="profile-menu-link" title="Избранное">
                                        <span itemprop="name">Избранное</span>
                                    </a>
                                </li>
                                <li class="profile-menu-child" itemprop="itemListElement" itemscope itemtype="http://schema.org/ItemList">
                                    <a itemprop="url" href="javascript:;" class="profile-menu-link active" title="История покупок">
                                        <span itemprop="name">История покупок</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-9 profile-content">
                        <div class="basket-list">
                            @@include('templates/partilas/basket-history-item.html')
                            @@include('templates/partilas/basket-history-item.html')
                            @@include('templates/partilas/basket-history-item.html')
                        </div>
                        @@include('templates/partilas/pagination.html')
                    </div>
                </div>
            </section>
            <!--section!-->
        </div>
    </section>
    <!--profile-page!-->

</main>
<!--main!-->

@@include('templates/partilas/footer.html')

@@include('templates/partilas/popups.html')

</body>
</html>
